/* kode css dah kepanjangan jadi disini aja responsivin nya */

@media (min-width: 576px) and (max-width: 768px) {
  .header-responsive {
    height: 400px !important;
    display: block;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
  }
  .card-header-left {
    padding: 0 30px;
    margin-top: 50px;
    text-align: center;
  }
  .right-responsive {
    position: absolute;
    top: 90px;
  }
}

/* Media Query untuk layar di antara md dan lg */
@media (min-width: 768px) and (max-width: 992px) {
  .header-responsive {
    height: 400px !important;
    display: block;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
  }
  .card-header-left {
    padding: 0 70px;
    margin-top: 10px;
    text-align: center;
  }
  .right-responsive {
    position: absolute;
    top: 90px;
  }
}

/* Media Query untuk layar di antara lg dan xl */
@media (min-width: 992px) and (max-width: 1200px) {
  .header-responsive {
    height: 575px !important;
    box-shadow: none;
  }
  .right-responsive {
    position: absolute;
    right: -250px;
    top: 60px;
  }
  .card-header-left h1 {
    width: 400px;
  }
  .card-header-left {
    padding: 30px;
    text-align: left;
  }
  .card-header-left p {
    width: 300px;
  }
  .blur-background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); /* Efek blur untuk latar belakang */
    z-index: -99;
  }
}

/* Media Query untuk layar lebih besar dari xl (extra large) */
@media (min-width: 1200px) {
  .header-responsive {
    height: 575px !important;
    overflow: visible;
    box-shadow: none;
  }
  .right-responsive {
    /* background-color: transparent; */
    position: absolute;
    right: -110px;
    top: 60px;
  }
  .blur-background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(100px);
  }
  .card-header-left h1 {
    width: 400px;
  }
  .card-header-left p {
    width: 300px;
  }
  .card-header-left {
    padding: 50px;
    text-align: left;
  }
}
