:root {
  /* color */
  --lightblue: #f2f6ff;
  --white: white;
  --text: #234cad;

  /* font size */
  --heading: 48px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  color: var(--text);
}

/* Navbar */
.button-primary {
  width: 135px;
  background-color: var(--lightblue);
  border: none;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  color: var(--text);
  text-decoration: none;
}
.button-outline {
  width: 135px;
  height: 50px;
  background-color: var(--white);
  border: 1px solid var(--text);

  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  color: var(--text);
  text-decoration: none;
}

.nav-item a {
  font-weight: 400;
  color: var(--text);
}

.nav-link.active {
  color: var(--text) !important;
  font-weight: 700;
}

/* Hero Section */
#hero{
  background: linear-gradient(160deg, var(--lightblue));
  background-color: var(--lightblue);
  color: var(--text);
  margin: 0 5vw 0 5vw;
  border-radius: 20px;
  height: 50vh;
  width: 90%;
}

.button{
  width: 135px;
  height: 50px;
  border: 2px solid var(--text);
  background-color: var(--lightblue);
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  color: var(--text);
  text-decoration: none;
}

/* Footer */
footer {
  color: var(--text);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  text-align: left;
  margin: 0 20vw 0 20vw;
}

.grid-item h2 {
  margin-bottom: 20px;
}

.copyright {
  margin-top: 30px;
}